---
const currentYear = new Date().getFullYear().toString()
---

<footer class='text-white font-thin p-4 text-center border-t-[1px]'>
	<p>
		&copy Mihai Postelnicu {currentYear} | All Rights Reserved
	</p>
</footer>
