---
---

<header class='flex justify-between items-center mx-auto py-4 px-12 border-b'>
	<h1
		class='text-5xl font-bold leading-tight -translate-y-1 hover:cursor-pointer'
	>
		mp.
	</h1>
	<nav class='hidden font-thin text-lg md:flex md:items-center md:gap-8'>
		<a
			href='#about'
			class='hover:cursor-pointer hover:scale-125 transition-all duration-100 text-xl'
		>
			about
		</a>
		<a
			href='#contact'
			class='hover:cursor-pointer hover:scale-125 transition-all duration-100 text-xl'
		>
			contact
		</a>
	</nav>
</header>
