---
import location from '../images/about/location.svg'
import academy from '../images/about/academy.svg'
import story from '../images/about/story.svg'
---

<article id='about'>
	<div
		class='w-screen backdrop-blur-sm backdrop-brightness-150 mb-12 text-center'
	>
		<div class='max-w-7xl mx-auto flex flex-col gap-5 px-8 py-24'>

			<div class='grid grid-cols-3 items-center gap-3 p-6'>
				<div class='h-[1px] bg-white/20'></div>
				<p class='min-w-fit text-center  md:text-lg'>
					About
				</p>
				<div class='h-[1px] bg-white/20'></div>
			</div>

			<br>

			<img class='h-10 opacity-90' src={location} alt='location icon' />
			<p class=' max-w-4xl mx-auto'>
				I am a web developer based in the beautiful city of <strong
					>Bucharest</strong
				>, <span class='text-blue-500'>Ro</span><span class='text-yellow-500'
						>man</span
					><span class='text-red-500'>ia</span>.
			</p>

			<br>

			<img class='h-10 opacity-90' src={academy} alt='academy cap icon' />
			<p class=' max-w-4xl mx-auto'>
				Curently studying at the <strong
					>Faculty of Economic Cybernetics, Statistics and Informatics</strong
				> within the Academy of Economic Studies in Bucharest, inside the <strong>Informatics</strong> department.
			</p>

			<br>

			<img class='h-10 opacity-90' src={story} alt="book icon">
			<p class=" max-w-4xl mx-auto">I'm on a mission to turn pixels into captivating experiences. Picture this: a curious kid hunched over a computer, discovering the magic of coding late into the night. That was me, and the fascination never faded. Fast forward to today, and I'm a web developer who's all about weaving creativity and technology. From sleek designs to seamless functionality, I'm here to make the web a friendlier and more exciting place.</p>
		</div>
	</div>
</article>
